* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;    
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
    line-height: 1.5;
}

/* .titleHeader {
    display: flex;
    justify-content: center;
} */

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.main {
    width: 884px;
    background-color: white;
    color: black;
    
    padding: 31px;
    height: 100%;
}

.header {
    height: 138px;
    padding: 5px;
    margin-bottom: 30px;
}

.logos {
    display: flex;
    justify-content: space-between;
    width: 100%;    
    padding: 10px 20px;
    height: 117px; 
}

.logos span {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    
}

.logos .logo1 {
    height: 80px;
    width: 167px;
}

.logos .logo2 {
    height: 72px;
    width: 70px;
    /* margin-right: 5px; */
}

.logos .logo3 {
    height: 72px;
    width: 70px;
    /* margin-right: 5px; */
}

.titleBody {
    display: flex;    
    flex-direction: column;    
    align-items: center;
    margin-bottom: 20px;    
}

.titleBody p {
    margin-bottom: 5px;
}

.divDocs {
    margin-bottom: 20px;
}

.divDocs p {
    margin-bottom: 5px;
}

.dataOffender {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tableDataOffender {
    font-size: 5px;
    width: 700px;    
}

.tableDataOffender th, .tableDataOffender td {
    padding: 1px; /* Adapte conforme necessário para ajustar a altura das células */
    /* font-size: 13px; */
    height: 5px;
}

.cell{
    width: 168px;
}

.titles {
    font-size: 16px;
    font-weight: 600;
}

.titles2 {
    font-size: 15px;
    font-weight: 600;
    text-indent: 1rem;
}

.historic {
    white-space: pre-line;
    text-align: justify;    
}

.historic .indent {
    text-indent: 3em;
}

.images {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.images img {
    width: 500px;
    height: 290px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.reasons {
    margin-top: 30px;
}

.team {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tableTeam {
    font-size: 5px;
    width: 100%;
    margin-bottom: 80px; 
}

.tableTeam th, .tableTeam td {
    padding: 1px;
    white-space: nowrap;
    padding: 0px 10px 0px 10px;    
}

.signature {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.signature p {
    margin: 0px;
    
}

.pIndent {
    text-indent: 3em;
}

.divBtn {
    display: flex;
    flex-direction: row;
}

.divBtn .btnPrint {
    margin-right: 5px;
}

.divBtn .btnCreatePDF {
    margin-right: 5px;
}

@media print {
    .no-print{
        display: none;
    }
}

/* @media print {
    @page {
        size: auto;   
        margin: 0mm; 
    }

    .main {
        margin: 10mm, 10mm, 10mm, 5mm ;  
    }
}
 */