* {
    padding: 0px;
    margin: 0px;
    font-size: 15px;    
}

input {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
}

h3 {
    margin-top: 20px;
}

.titleLabel {
    font-weight: 600;
    margin-bottom: 5px;
}

.labelNotBold {
    font-weight: 100;
}



/* .titleHeader {
    display: flex;
    justify-content: center;
} */

.content {
    display: flex;
    justify-content: center;
}

.main {
    padding: 10px;
    width: 100%;
    background-color: white;
    color: black;
}

.header {
    height: 125px;
    padding: 5px;
    margin-bottom: 30px;
}

/* .main > * {
    margin-bottom: 10px;
} */

/* .divRadiosBO {
    display: flex;
    
} */

/* .labelEmbargo {
    display: none;
} */

/* .inputEmbargo {
    display: none;
} */

.labelLumber {
    display: none;
}

.inputLumber {
    display: none;
}

.labelNaturalWood {
    display: none;
}

.inputNaturalWood {
    display: none;
}

/* .labelImageLetter {
    display: none;
}

.inputImageLetter {
    display: none;
} */

.mitigating {
    display: flex;
    flex-direction: column;
}

.aggravating {
    display: flex;
    flex-direction: column;
}

.checkboxAgravating {
    display: flex;
    flex-direction: column;
}

/* .divDeforestationSize {
    display: none;
} */

.divQuantityWood {
    display: none;
}

.divEmbargos {
    display: none;
}

#divLumber {
    display: none;
}

#divNaturalWood {
    display: none;
}

/* #divInputEmbargo {
    display: none;
} */

/* #divInputImageletter {
    display: none;
} */

/* #divMitigating {
    display: none;
}

#divAggravating {
    display: none;
} */

/* #divSeizedObjects {
    display: none;
}
 */

