* {
    padding: 0px;
    margin: 0px;
}

.card-header {
    min-width: 762px;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 762px;
}

.content {
    min-width: 762px;
}

.titleHeader {
    /* color: black; */
}

.h5 {
    /* color: black; */
    margin-bottom: 30px;
}

#labelDescription {
    margin-bottom: 5px;
    font-weight: 600;
    /* color: black; */
}

.description {
    margin-left: 87px;
    font-size: 12px;
    margin: 0px 0px 5px 126px;
    height: 18px;
    color: black;
}

#inputDesc {
    margin-bottom: 20px;
}

.divButtons {
    display: flex;
    flex-direction: column;
}

.btnInput {
    margin-bottom: 10px;
}

#btnPdf {
    margin-bottom: 30px;
}

.title {
    text-align: center;
    margin-top: 11px;
    font-size: 14px;
    font-weight: 600;
    color: black;
    line-height: 1.3;
}

.pageWithBorder {
    min-width: 758px;    
    border: 1px solid black;
    margin-bottom: 27.5px;    
    height: 1095px; 
    background-color: white;  
}

.lastPageWithBorder {    
    border: 1px solid black;
    margin-bottom: 0px;
    height: 1095px;
    background-color: white;
}

.page {
    width: 777px;
    padding: 10px;    
}
.photoContainer {
    min-width: 758px;
}

.photoContainerDynamic {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    height: 910px;
}

.photoContainer img.photo {
    width: 500px;
    height: 290px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.logos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* max-width: 700px; */
    padding: 10px 20px;
    height: 117px;
    /* border-bottom: 1px solid black; */
    
}


.logos .logo1 {
    height: 80px;
    width: 167px;
}

.logos .logo2 {
    height: 72px;
    width: 70px;
    /* margin-right: 5px; */
}

.logos .logo3 {
    height: 72px;
    width: 70px;
    /* margin-right: 5px; */
}

.pageNumber {
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    margin-top: 12px;
    color: black;
}


/* Media query para telas menores que 768px */
@media (max-width: 768px) {
    .page {
        width: 791px;           
    }

    .main {
        min-width: 887px;
    }
    
    .content {
        min-width: 900px;
    }
    
    /* .h5 {
        width: 210px;
    } */

    /* .card-header {
        width: 210px;
    } */
    /* .card-header h1 {
        font-size: 25px;
    } */

    #inputDesc {
        width: 210px;
    }

    .btnInput {
        width: 210px;
    }

    #btnPdf {
        width: 210px;
    }
}

