/* Estilos */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    background-color: #0F172A;
    /* background-image: linear-gradient(to right, #0F172A, #313d3d); */
    background-repeat: no-repeat;    
}

h3 {
    font-size: 1.2375rem;
    color: #fff;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

li {
    list-style: none;

}

/* Layout skeleton */

.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;

}

#sidebar {
    max-width: 264px;
    min-width: 264px;
    transition: all 0.35s ease-in-out;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
    z-index: 1111;
}

/* Sidebar collapsed */

#sidebar.collapsed {
    margin-left: -264px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.sidebar-logo {
    padding: 1.5rem 1.5rem;
}

.sidebar-logo a {
    color: #e9ecef;
    font-size: 1.25rem;
    font-weight: 600;
}

.sidebar-nav {
    padding: 0;

}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

/* .sidebar-item { 

} */

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 1rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content:  "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.45rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.content {
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

/* Responsive */

@media (min-width:768px){
    .content {
        width: auto;
    }
}

/* Media query para colapsar a barra lateral em telas menores que 768px */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -264px;
    }

    #sidebar.collapsed {
        margin-left: 0;
    }
}

.effect {
    --left: 0px;
    --top: 0px;
}

.effect::before {
    content: '';
    background-color: #1c2a4a;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;

    position: absolute;
    left: calc(min(89vw - 10rem, max(0px, var(--left))));
    top: calc(min(89vh - 10rem, max(0px, var(--top)))); 
    transform: translate(-50%, -50%) scale(3);
    z-index: -10;

    filter: blur(50px);

    opacity: 0;
    transition: opacity 0.3s;
}

.effect:hover::before {
    opacity: 1;
}


/* Desative o efeito para telas menores que 768px de largura */
@media (max-width: 768px) {
    .effect::before {
        display: none;
    }
}