:root{
    /* Colors */
    --body-color: #ffffff;
    --body-secondy-color: #ffffff; 
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --table-color: #ffffff;
    --paginatecolor: #e5e0e0;


    /* Transition */

    --tran-02: all 0.2 ease;
    --tran-03: all 0.3 ease;
    --tran-04: all 0.4 ease;
    --tran-05: all 0.5 ease;
}

.light {
    --body-color: #ffffff;
    --body-secondy-color: #ffffff; 
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --table-color: #ffffff;
    --paginatecolor: #e5e0e0;
}

.dark {
    --body-color: #0F172A;
    --body-secondy-color: #222e49;
    --sidebar-color: #0F172A;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --table-color: #141e34;
    --paginatecolor: #223253;
}

.card-header {
    background: var(--body-secondy-color);
}

.card-footer {
    background: var(--body-secondy-color);
    color: var(--text-color);
    height: 35px;
    display: flex;
    justify-content: center;
    font-size: small;
    font-weight: 600;
    padding: 7px;
}

.card-footer p a {
    text-decoration: none;
    color: var(--text-color);
}

.content {
    padding: 0px;
}



.btnLogoutHidden {   
    background: none;
    border: none;
    cursor: pointer;
    color: #0000EE; /* Link color */
    padding: 0;
}
