#map { 
    border-radius: 3px;
    height: 500px;
    width: 1486PX;
    border: 1px solid var(--text-color);
    box-shadow: 0 0 35px 0 rgba(107, 107, 162, 0.5);;
}


#dataTable {
    
}

#refreshMap {
    
    
}

#btnDelete,
#find {
    cursor: pointer;
}

#actions {
    width: 216px;    
}

.coordinate {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.coordinate label {
    margin-bottom: 5px;
}

.btnFindCoordinate {
    display: flex;
    flex-direction: column;
}

.btnsMap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 15px;
}

#btnSearchCoordinate {
    margin-left: 10px;
}