/* Estilo header */
.headerIndex {
    position: fixed;
    width: 100%;
}

.headerIndexSmaller {
    width: calc(100% - 270px);
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.links .sun {
    font-size: x-large;
}

.links .moon {
    font-size: large;
}

.btnMenu {
    font-size: xx-large;
    margin-left: 10px;
}


/* Estilos div principal */
.divImageMain {
    display: flex;
    min-height: 665px;    
    height: 400px;
    margin: 0px 35px 30px 30px;
    
}

.imageMain {
    padding: 30px 30px 0px 30px;
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.imageMain img {
    width: 500px;
    height: 100%;
    display: block;
}
.imageMain::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 62%, rgb(255 255 255) 103%);
    pointer-events: none;
}

.textMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 50px;    
}

.textMain h3 {
    margin-bottom: 50px;
}

body.dark .imageMain::after {
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 56%, #0F172A 108%)    
}


/* Estilos div projetos */
.divProjectsMain1 {
    display: flex;
    min-height: 365px;
    /* border: 1px solid black; */
    /* height: 400px; */
    margin: 0px 35px 30px 30px;
    padding: 30px 50px 50px 50px;
}

.sectionProject1 h3 {
    margin-left: 91px;
    margin-top: 121px;
}

.sectionProject1 {
    height: 535px;
}

.divImageProject1 {
    /* width: 600px;
    height: 500px; */
    display: flex;
    align-items: center;
}

.divImageProject1 img {
    width: 560px;
    height: auto;
    transform-origin: center left;
}

.divImageProject1 img:hover {
    transform: scale(2); /* Aumenta a imagem em 50% */
    position: relative;
    z-index: 10;
}

.divProjectsMain2 {
    display: flex;
    min-height: 365px;
    /* border: 1px solid black; */
    /* height: 400px; */
    margin: 0px 35px 30px 30px;
    padding: 30px 22px 50px 50px;
}

.divImageProject2 {
    /* width: 600px;
    height: 500px; */
    display: flex;
    justify-content: end;
}

.divImageProject2 img {
    width: 560px;
    height: auto;
    transform-origin: center right;
}

.divImageProject2 img:hover {
    transform: scale(2); /* Aumenta a imagem em 50% */
    position: relative;
    z-index: 10;
}

.divTextProject1 {
    display: flex;    
    align-items: center;
    text-align: justify;
}

.divTextProject2 {
    display: flex;    
    align-items: center;
    text-align: justify;
}