.container section {
    display: grid;
    align-items: center;
    place-items: center;
    min-height: 100vh;
}

.content .divMain {
    padding: 0px;
}

/* p {
    text-indent: 50px;
} */

/* Estilo header */
.headerIndex {
    position: fixed;
    width: 100%;
}

.headerIndexSmaller {
    width: calc(100% - 270px);
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}

.links .sun {
    font-size: x-large;
}

.links .moon {
    font-size: large;
}

.btnMenu {
    font-size: xx-large;
    margin-left: 10px;
}


/* Estilos div principal */
.imageMain {
    max-height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.imageMain img {
    width: auto;
    height: 100vh;
    display: block;
}

.imageMain::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 66%, rgb(255 255 255) 100%);
    pointer-events: none;
}

.textMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 50px;
}

body.dark .imageMain::after {
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 56%, #0F172A 108%)
}


/* Estilos div projetos */
.divProjectsMain1 {
    display: flex;
    min-height: 365px;
    margin: 0px 35px 30px 30px;
    padding: 30px 50px 50px 50px;
}

.divImageProject1 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* overflow: hidden; */
}

.divImageProject1 img {
    width: 560px;
    height: auto;
    transform-origin: center left;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.divImageProject1 img.enlarged {
    transform: scale(2);
    position: relative;
    z-index: 10;
}

/* .divImageProject1 img:hover {
    transform: scale(2);
    position: relative;
    z-index: 10;
} */

.divTextProject1 {
    display: flex;
    align-items: center;
    text-align: justify;
}

.divProjectsMain2 {
    display: flex;
    min-height: 365px;
    margin: 0px 35px 30px 30px;
    padding: 30px 22px 50px 50px;
}

.divImageProject2 {
    display: flex;
    justify-content: end;
}

.divImageProject2 img {
    width: 560px;
    height: auto;
    transform-origin: center right;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.divImageProject2 img.enlarged {
    transform: scale(2);
    position: relative;
    z-index: 10;
}

/* .divImageProject2 img:hover {
    transform: scale(2);
    position: relative;
    z-index: 10;
} */

.divTextProject2 {
    display: flex;
    align-items: center;
    text-align: justify;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 1s;
}