@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


* {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Colors */
    /* --body-color: #ffffff;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070; */


    /* Transition */

    /* --tran-02: all 0.2 ease;
    --tran-03: all 0.3 ease;
    --tran-04: all 0.4 ease;
    --tran-05: all 0.5 ease; */
}

body {
    background: var(--body-color);
    height: 100vh;
    transition: var(--tran-05);
}

body.dark {
    /* --body-color: #0F172A;
    --sidebar-color: #0F172A;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC; */
}

/* ++++++++++++++++++++Sidebar+++++++++++++++++++++++ */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px; /* original 250px */
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    box-shadow: 0 0 35px 0 rgba(49, 57, 66, 0.5);
}

.sidebar.close {
    width: 0px;
    padding: 10px 0 10px 0;
}

/* ++++++++++++++++++++Resuable CSS+++++++++++++++++++++++ */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar.close .header-text {
    opacity: 0;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Eu adicionei para tirar o padding da ul */
.sidebar ul {
    padding: 0; 
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    font-size: 20px;    
}

.sidebar.close li .icon {
    opacity: 0;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    cursor: pointer;
    width: 40px;
    border-radius: 6px;
}

.sidebar.close .image-text img {
    opacity: 0; /* opacidade 0 */
}

.sidebar header .image-text {
    display:flex;
    align-items: center;

}

.sidebar header .image-text .image {
    padding-right: 11px;
}
.sidebar.close header .image-text .image {
    padding-left: 29px;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.sidebar.close .image-text .header-text {
    margin-left: 14px;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    cursor: pointer;
    position: absolute;
    top: 150%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    /* font-size: 22px; */ /* original 22px */
    transition: var(--tran-02);
    display: none;
}

.sidebar.close header .toggle {
    transform: translateY(-50%);
    right: -20px;
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box .filter {
    margin-left: 10px;
    cursor: pointer;
}

.sidebar.close .search-box .filter {
    display: none;
}

.search-box input {
    height: 100%;
    width: 100%;
    max-width: 150px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.sidebar li a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar.close li a i {
    display: none;
    
}

.sidebar.close li a span {
    display: none;
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.bottom-content .mode {
    right: 3px;
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.sidebar.close body.dark .menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .sidebar.close .menu-bar .mode i.sun {
    opacity: 0;
}



.menu-bar .mode .toggle-switch {
    position: absolute;
    right: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);    
}

body.dark .switch::before {
    left: 24px;
}

.home {
    position: relative;
    height: 100%;
    left: 270px;
    width: calc(100% - 270px);
    transition: var(--tran-05);
    overflow-y: auto;
}
/* .home {
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
} */

.home .text {
    color: var(--text-color);
    height: 100%;
    /* padding: 8px 40px; */
    overflow-y: auto;
}

.sidebar.close .home .text {
    color: var(--text-color);
    padding: 20px 50px;
    overflow-y: auto;
}

/* .sidebar.close ~ .home {
    position: relative;
    height: 100%;
    left: 270px;
    width: calc(100% - 270px);
    transition: var(--tran-05);
    overflow-y: auto;
} */
.sidebar.close ~ .home {
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.home .content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 13px 0px 30px 18px;
    overflow-y: auto;
}

.small {
    padding: 10px;
}

.card-body {
    height: 100vh;
    background: var(--body-color);
    color: var(--text-color);
}

.card-header {
    height: 70px;
    background: var(--body-color);
    color: var(--text-color);
}

.card-footer {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
}

.sidebar.close ~ .card-footer {
    left: 0px;
    width: 100%;
    overflow-y: auto;
}

.card {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.card-body {
    padding: 0px;
    height: 100%;
}

#logoIndex {
    width: 40px;
    border-radius: 6px;
    display: none;
}

.sidebar.close + .home .content #logoIndex {
    display: block;
    cursor: pointer;
    z-index: 999;
    position: relative;
}

/* .sidebar.close #logoIndex {
    display: block;
} */

.headerIndex {
    display: flex;
    justify-content: space-between;
    
}

.divMain {
    padding: 18px 31px 30px 46px;
}

.sidebar.close ~ .home .content .divMain {
    padding: 18px 20px 30px;

}

.links {
    width: 485px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.links a {
    text-decoration: none;
    color: var(--text-color);
}